:root {

    --grid-half-gutter-phone-s: 4px;
    --grid-half-gutter-tablet-m: 8px;
    --grid-half-gutter-desktop-xs: 11px;
    --grid-half-gutter-desktop-s: 12px;
    --grid-half-gutter-desktop-m: 13px;
    --grid-half-gutter-desktop-l: 14px;
    --grid-half-gutter-desktop-xl: 15px;
}