:root {

    --color-corporate: rgba(0, 100, 70, 1);
    --color-corporate-dark: rgba(0, 70, 50, 1);
    --color-corporate-light: rgba(50, 150, 120, 1);

    --color-font-black-standart: rgba(0, 0, 0, 0.8);
    --color-font-black-light: rgba(0, 0, 0, 0.6);
    --color-font-black-extra: rgba(0, 0, 0, 0.4);

    --color-border-extra: rgba(0, 0, 0, 0.16);
    --color-border-light: rgba(0, 0, 0, 0.24);
}