:root {
    --screen__gta-phone-s: max-width: 240px;
    --screen__gta-phone-m: min-width: 360px;
    --screen__gta-tablet-s: min-width: 460px;
    --screen__gta-tablet-m: min-width: 768px;

    --screen__gta-desktop-xs: min-width: 1056px;
    --screen__gta-desktop-s: min-width: 1152px;
    --screen__gta-desktop-m: min-width: 1248px;
    --screen__gta-desktop-l: min-width: 1344px;
    --screen__gta-desktop-xl: min-width: 1440px;
}